---
layout: default
load_leaflet: 1
---

<h1 style="float:right; font-size:64pt; color:#f1f1f1">{{ page.title }}</h1>


<h2 id="wikidata_title"></h2>
<h3 id="wikidata_descr"></h3>


<img id="wikidata_img"
     alt="Wikidata image"
     style="width:100%; display:block; margin:0 auto; padding-bottom:10px; border-radius:12px; box-shadow:0 0 6px rgba(0,0,0,0.2)"
     src="/static/img/default-placeholder.jpg" />
{% if page.image %}
  <div style="text-align:center; margin: 1.5rem 0;">
    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" style="max-width:90%; border-radius:12px; box-shadow:0 2px 6px rgba(0,0,0,0.2);">
  </div>
{% endif %}

<div id="map" style="height: 300px; width:100%; background-color:#f6f6f6; margin-bottom:1rem;"></div>


{{ content }}


<p style="text-align:center; margin-top:1em;">
 <p>
  <a id="wikidata_href" href="#" target="_blank">
    Άρθρο στη Wikipedia
  </a>
 </p>

{% if page.official_url %}
 <p>
  <a href="{{ page.official_url }}" target="_blank" style="color:#7a3e00; font-weight:bold;">
    Επίσημος ιστότοπος
  </a>
 </p>
{% endif %}

{% if page.facebook_url %}
 <p>
  <a href="{{ page.facebook_url }}" target="_blank" style="color:#3b5998; font-weight:bold;">
    Σελίδα στο Facebook
  </a>
 </p>
{% endif %}
<p>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>


<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
<script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>


<script>var wikidatum = '{{ page.wikidatum }}'</script>


<script src="{{ '/assets/js/get_wiki_item.js' | relative_url }}"></script>


<script>
 
  function setPlaceholderIfEmpty() {
    const img = document.getElementById('wikidata_img');
    if (!img.getAttribute('src') || img.getAttribute('src').trim() === '') {
      img.src = '/static/img/default-placeholder.jpg';
    }
  }

 
  window.addEventListener('load', () => setTimeout(setPlaceholderIfEmpty, 3000));
</script>

